body{
    background: #000;
}

h1{
    color: #ff0;
}

.contenedor{
    width: 1480px;
    border: 1px solid #f00;
    margin-top: 15px;
    display: flex;
}

.contenedor > div > img{
    text-align: center;
    width: 140px; margin: 4px;
    flex-direction: column;
}

.contenedor > div{
    text-align: center;
    width: 50px; height: 280px;
    margin: 4px;
    flex-direction: column;
}

#caja1{
    flex-direction: row;
}

#a{filter: none;}
#b{filter: blur(5px);}
#c{filter: brightness(0.8);}
#d{filter: contrast(200%);}
#e{filter: grayscale(70%);}
#f{filter: hue-rotate(90deg);}
#g{filter: invert(75%);}
#h{filter: opacity(25%);}
#i{filter: saturate(50%);}
#j{filter: sepia(100%);}

#k{filter: none;}
#l{filter: blur(5px);}
#m{filter: brightness(0.8);}
#n{filter: contrast(200%);}
#o{filter: grayscale(70%);}
#p{filter: hue-rotate(90deg);}
#q{filter: invert(75%);}
#r{filter: opacity(25%);}
#s{filter: saturate(50%);}
#t{filter: sepia(100%);}